<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- ===================================================================================== -->
  <!-- optional, add some variables -->
  <!-- ===================================================================================== -->
  <variable name="myvar" value="myvalue"/>
  <variable name="variable1" value="${basedir}/logs"/>

  <!-- ===================================================================================== -->
  <!-- See https://github.com/nlog/nlog/wiki/Configuration-file for information on customizing logging rules and outputs. -->
  <!-- ===================================================================================== -->
  <targets>
    <target name="LogFile" xsi:type="File"
            fileName="${basedir}/logs/${shortdate}.log"
            archiveFileName="${basedir}/logs/Archives/${shortdate}.{#####}.log"
            archiveNumbering="Sequence"
            archiveAboveSize="5242880"
            maxArchiveFiles="0"

            keepFileOpen="false"
            concurrentWrites="false"
            layout ="${time} [${pad:padding=5:inner=${level:uppercase=true:format=Name}}] ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}"
            encoding="utf-8"
    >
    </target>

    <target name="LogText" xsi:type="RichTextBox"
            layout ="${time} [${pad:padding=5:inner=${level:uppercase=true:format=Name}}] ${message}"
            formName="FrmMain"
            ControlName="rtxtLog"
            autoScroll="true"
            maxLines="100"
            allowAccessoryFormCreation="false"/>
  </targets>

  <!-- ===================================================================================== -->
  <!-- See https://github.com/nlog/nlog/wiki/Configuration-file for information on customizing logging rules and outputs. -->
  <!-- ===================================================================================== -->
  <rules>
    <logger name="*" minlevel="Debug" writeTo="LogFile,LogText"/>
  </rules>
</nlog>
